body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.imageContainer {
  max-width: 25%;
}
.ImageUpload {
  padding-left: 319px;
  margin-top: 28px;
}
.ShowImages {
  margin-left: 10px;
}

.tableImage {
  width:75% 
}
.konvajs-content {
  background-color: whitesmoke;
}
